body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ff00aa;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #00ff15 15px 15px 15px;
}

button {
  background: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
}
