body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e2f;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #ff0000;
  color: white;
  border-color: #1e1e2f;
  padding: 50px;
  border-radius: 50%;
  transition: all 1s;
}
button:hover {
  background: #09ff00;
  color: rgb(0, 0, 0);
  font-size: 30px;
  border-color: #00ff15;
  padding: 50px;
  border-radius:5%;
}